@tailwind base;
@tailwind components;
@tailwind utilities;
/* .blog{
  background-image: url(/src/assets/images/blog-slider-img1.webp);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
} */

.downloadBtn{
  font-family: 'Poppins', sans-serif;
  outline: #0d6efd;
  font-size: 16px;
  font-weight:600;
  border: 1px solid ;
  border-color: #0d6efd;
}
.navtop{
  background-color: #212529;
  color: #f8f9fa !important;
  font-weight: 400;
  font-size: 24px;
}
.menu{
  color: #06A3DA;
  border-color: #06A3DA;
}
.searchColor{
  color: #06A3DA;
}
.liFont{
  font-size: 18px;
  font-weight: 500;
  outline: none;
  color: #091E3E;
}
.fontfaimily{
  font-family: 'Poppins', sans-serif;
}




.textColor{
  color: #212529;
}
.leastHead{
  font-family: 'Poppins', sans-serif;
  color: #0d6efd !important;
  font-weight: 700 !important;
  font-size: 20px;
}
.readHead{    
  font-family: 'Poppins', sans-serif;
  font-weight: 700 !important;
  font-size: 31px;
  color: #012169;
}
.latest{
  color: white;
  padding: 2px 6px;
  background-color: #06A3DA;
  font-size: 13px;
  font-weight: 700;
}

.fontbutton{
  background-color: #0d6efd;
  font-weight: 600;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

.btn{
  background-color: #0dcaf0;
  border-color: #0dcaf0;
  font-family: 'Poppins', sans-serif;
  font: 16px;
  color: #FFFFFF;
}
.contactBtn{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.heading{
 color: #212529;
 font: 16px; 
 font-weight: 700;
 margin: 5px;
}
.footerText{
  color: #6c757d !important;
  text-transform: uppercase !important;
  font-size: 1.25rem !important;
  font-weight: 700 !important;
  margin-bottom: 1.5rem !important;
  font-family: 'Poppins', sans-serif;
}
.footerLink{
  color: #0d6efd !important;
  
}
.footerInput{
  background-color: #e9ecef;
  border: 1px solid #ced4da;
}
.footerBtn{
  color: #fff;
  background-color: #198754;
  border-color: #198754;
}
.footerDown{
  background-color: #ADD8E6;
  font-size: 16px;
  font-family:'Poppins', sans-serif; ;
  color: #212529 !important;
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #012169;
    border-radius: 10px;
    border: 2px solid transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #012169;
  }
}

.heading{
  font-size: 31px;
  color: #012169;
  font-family:'Poppins', sans-serif; 
  font-weight: 700 !important;
}
.subheading{
  font-weight: bolder;
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
  color: #012169;
  font-weight: 700 !important;
}
.intro{
  font-weight: bolder;
  font-family: 'Poppins', sans-serif;
  color: #012169;
  font-size: 28px;
}
.introDesc{
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
}

/*slider*/
.sliderOuterDiv {
  background-color: #06A3DA; /* Set the background color */
  position: relative;
  overflow: hidden; /* Ensure the inner div doesn't overflow */
}

.sliderInnerDiv {
  position: absolute;
  left: 0;
  top: 0;
  animation: moveSlider 5s infinite; /* Animation */
}

@keyframes moveSlider {
  0% {
    left: 0;
  }
  50% {
    left: 100%; /* Move to the right */
  }
  100% {
    left: 0; /* Move back to the left */
  }
}

